# systemd service file for alarmpi
# place in /usr/lib/systemd/system

[Unit]
Description=AlarmPi daemon
After=mpd.service
Before=watchdog.service

[Service]
User=root
Group=root
WorkingDirectory=/opt/alarmpi/bin
#PermissionsStartOnly=true
ExecStartPre=-/opt/alarmpi/bin/rpiLedsOff
ExecStartPre=-/bin/mkdir -p /var/log/alarmpi
ExecStartPre=-/bin/chown alarmpi:alarmpi /var/log/alarmpi
ExecStartPre=-/bin/chown mpd:audio /var/lib/mpd/music/tmp
ExecStartPre=-/bin/chmod g+w /var/lib/mpd/music/tmp
ExecStart=/usr/bin/sudo -u alarmpi /usr/bin/java -classpath /opt/alarmpi/bin/alarmpi.jar alarmpi/AlarmPi
#ExecStop=
# Shutdown delay in seconds, before process is tried to be killed with KILL (if configured)
KillSignal=SIGTERM
TimeoutStopSec=300
Restart=on-failure

# save logfile to /tmp as /var/log is not persistent after reboot
ExecStopPost=/usr/bin/sudo -u alarmpi /bin/cp /var/log/alarmpi/alarmpi.log.0 /etc/alarmpi/tmp

[Install]
WantedBy=multi-user.target
